/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#textarea {
    max-width: 420px;
    margin-left: 150px;
    padding-bottom: 140px;
}

.hide-on-med-and-down {
    margin-right: 70px;
    margin-bottom: 20px;
    margin-top: 20px;
}
